[/]
animate-appicon-hover-animation-extent={'RIPPLE': 4, 'PLANK': 4, 'SIMPLE': 1}
appicon-margin=0
appicon-padding=8
available-monitors=[0]
dot-position='BOTTOM'
dot-style-focused='SEGMENTED'
dot-style-unfocused='DASHES'
hotkeys-overlay-combo='TEMPORARILY'
leftbox-padding=-1
middle-click-action='LAUNCH'
panel-anchors='{"0":"MIDDLE"}'
panel-element-positions='{"0":[{"element":"showAppsButton","visible":true,"position":"stackedTL"},{"element":"activitiesButton","visible":false,"position":"stackedTL"},{"element":"leftBox","visible":true,"position":"stackedTL"},{"element":"taskbar","visible":true,"position":"stackedTL"},{"element":"centerBox","visible":true,"position":"stackedTL"},{"element":"rightBox","visible":true,"position":"stackedBR"},{"element":"dateMenu","visible":true,"position":"stackedBR"},{"element":"systemMenu","visible":true,"position":"stackedBR"},{"element":"desktopButton","visible":false,"position":"stackedBR"}]}'
panel-lengths='{"0":100}'
panel-sizes='{"0":43}'
primary-monitor=0
secondarymenu-contains-showdetails=true
shift-click-action='MINIMIZE'
shift-middle-click-action='LAUNCH'
status-icon-padding=-1
trans-panel-opacity=0.40000000000000002
trans-use-custom-bg=false
trans-use-custom-gradient=false
trans-use-custom-opacity=false
tray-padding=-1
window-preview-title-position='TOP'
